<h4><%= @article.title %></h4>
<p><%= @article.content %></p>

<hr>

<%= link_to "Back to Main Page", root_path,class: "btn btn-primary" %>
<%= link_to "Delete #{@article.title}",
            article_path,
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>